# Keil生成文件
Objects/
Listings/
*.axf
*.hex
*.bin
*.map
*.htm
*.lnp
*.sct
*.lst
*.crf
*.d
*.o

# Keil用户配置
*.uvguix.*
*.uvoptx
*.uvprojx.user

# Debug配置
DebugConfig/

# VSCode
.vscode/

# 临时文件
*.log
*.lock
*.bak
*.tmp